body{
    font-family: 'Open Sans', sans-serif;
    color: #7d7d7d;
    font-weight: 300;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

a{
    color: white;
}

a:hover{
    color: #fc8f44;
}

p{
    color: #66b8e0;
    font-size: 16px;
    line-height: 1.3;
}

h1{
    font-family: "Merriweather", serif;
    line-height: 1.55;
    font-size: 36px;
    font-weight: 300;
}

.dropdown:hover > .dropdown-menu{
    display: block
    } 

.navbar{
    background: #003c5a;
    max-width: 100%;
    justify-content: flex-start;
}

.navbar-brand{
    font: 700 20px/1.3 "Merriweather", serif;
    color: #edf4f8;
}

.navbar-brand:hover{
    font: 700 20px/1.3 "Merriweather", serif;
    color: #edf4f8;
}

.telephone{
    display: none;
    font-weight: 300;
    transition: color ease-in-out 0.2s;
    font-size: 20px;
}

.telephone:hover{
    display: none;
    font-weight: 300;
    font-size: 20px;
}

.btntelephone{
    background: #edf4f8;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    z-index: 1;
    transition: background ease-in-out 0.2s;
}

.btntelephone:hover{
    background: lightblue;
    cursor: pointer;
}

.navbar-toggler{
    color: #edf4f8;
}

.navbar-toggler-icon{
    background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

li > a{
    color:#2379a3;
    transition: color ease-in-out 0.2s;
}

li > a:hover{
    color: #ebebeb;
    transition: color ease-in-out 0.2s;
}

.dropdown-item{
    color: #003c5a;
    font-weight: 300;
    line-height: 40px;
    transition: color ease-in-out 0.2s;
}

.dropdown-item:hover{
    color: #fc8f44;
    font-weight: 300;
    line-height: 40px;
    background: transparent;
    transition: color ease-in-out 0.2s;
}
/*********************************************
******************** SECOPEN ******************
***********************************************/

.secopenh1{
    line-height: 1.3;
    font-size: 32px;
    color: white;
    letter-spacing: .4px;
    text-align: center;

}

.secopenp{
    text-align: center;
}

.container{
    padding-bottom: 55px;
    padding-top: 55px;
}

.ourbookh1{
    color: #252525;
    text-align: center; 
}

.ourbookh2{
    color: #555555;
    text-align: center;
    line-height: 1.3125;
    margin-top: 30px;
}

.ourbookp{
    margin-top: 30px;
}

.secourbook{
    background: #eaf2f6;
}

.secopen{
    background: url(img/backgroundsecopen.png) #003c5a no-repeat;
    background-size: cover;
    height: 700px;
}


/* SM Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

    .header {
        background: #003c5a;
        height: 56px;    
        width: 100%;
    }

    .navbar{
        max-width: 576px;
    }

    h2{
        color: #fff;
        font-size: 30px;
        font-weight: 300;
        font-family: "Merriweather", serif;
        text-align: center;
    }

    .seccarousel{
        width: 100%;
        height: 250px;
        background: #e76e33;
    }

    .height100{
        margin-left: auto;
        margin-right: auto;
        width: 38px; 
        height: 33px;
    }
}

/*
Medium devices MD (tablets, 768px and up)*/
@media (min-width: 768px) {
    .header{
        background: #003c5a;
        width: 100%;
    }

    .navbar{
        max-width: 768px;
    }

/* SECOPEN */
    .secopenh1{
        font-size: 40px;
    }

}

/* Large devices LG (desktops, 992px and up) */
@media (min-width: 992px) {

    .header{
        height: 155px;
    }
    
    .navbar{
        max-width: 992px;
    }

    .navbar-brand{
        font: 700 15px/31px "Merriweather", serif;
    }

    .navbar-brand:hover{
        font: 700 15px/31px "Merriweather", serif;
    }

    .btntelephone{
        display: none;
    }

    .telephone{
        display: flex;
        font-weight: 300;
        font-size: 20px;
        color: white;
        transition: color ease-in-out 0.2s;
    }

    .telephone:hover{
        display: flex;
        font-weight: 300;
        font-size: 20px;
        color: #fc8f44;
        transition: color ease-in-out 0.2s;
    }

    /* SECOPEN */
    .secopenh1{
    font-size: 44px;
    }

    .ourbookh1{
        text-align: left;
    }
  
    .ourbookh2{
        text-align: left;
    }

    .ourbookp{
        text-align: left;
    }
}


/*
/* Extra large devices XL (large desktops, 1200px and up)  */
@media (min-width: 1200px) {

    .navbar{
        max-width: 1200px;
    }

    p{
        font-size: 18px;
    }

    /* SECOPEN */
    .secopenh1{
        font-size: 48px;
        }

} 

*{
    transition: background ease-in-out 0.2s;
    transition: color ease-in-out 0.2s;
}

